*{
  box-sizing:border-box ;
  font-family: 'Open Sans', sans-serif;
}

@font-face{
  font-family: 'Neue Machina';
  src: url('../fonts/neue-machina-regular.otf');
}

body{
  background-color: #000;
  color:#fff;
}

.main{
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #fff;
  border-radius:1rem;
}

.main::before{
  content: ' ';
  background-image: url('../img/background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  top: 0;
  left: 0;
  width: 140vw;
  height: 100vh;
  display: inline-block;
  z-index: -1;
}

.main::after{
  content: ' ';
  background-image: url('../img/background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 140vh;
  display: inline-block;
  z-index: -1;
  transform: rotate(180deg);
}

@media (min-width: 768){
  .main{
    max-width: 960px;
    margin: 1rem auto;
  }
  .main::after{
    width: 70vw;
  }
  
  .main::before{
    width: 70vw;
  }
  
}
